* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(8, 12, 36);
	color: white;
	font-family:
		"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

.showWeather {
	display: none;
}

header {
	margin-top: 1.5rem;
	form {
		height: 3rem;
		display: flex;
		justify-content: center;
		z-index: 7;
		input {
			height: 3rem;
			width: 100%;
			border-radius: 15px;
			outline: none;
			border: none;
			border: 2px solid rgba(255, 255, 255, 0.15);
			padding-left: 1.5rem;
			background-color: #ffffff1b;
			color: white;
			font-size: 1rem;
		}
		button {
			width: 3rem;
			margin-left: 0.5rem;
			border-radius: 15px;
			outline: none;
			border: 2px solid black;
			border: 2px solid rgba(255, 255, 255, 0.15);
			background-color: rgba(255, 255, 255, 0.596);
			cursor: pointer;
		}
		button:hover {
			background: #ffffff;
		}
		.search-result {
			width: 100%;
			border: 2px solid rgba(255, 255, 255, 0.15);
			padding-left: 1rem;
			padding-right: 1rem;
			list-style: none;
			background-color: #ffffff15;
			position: relative;
			z-index: 1;
			border-radius: 15px;
			backdrop-filter: blur(50px);
			margin-top: 0.4rem;
			display: none;
		}
	}
}

.search {
	width: 30%;
}
.search-result li {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.5rem 0rem 0.5rem 1rem;
	background: #ffffff05;
	backdrop-filter: blur(20px);
	border-radius: 5px;
	border: 1px solid transparent;
	font-size: 1rem;
	gap: 1rem;
	cursor: pointer;
}

.search-result li:hover {
	border: 1px solid white;
}
.sform input:focus {
	outline: white;
	border: 2px solid white;
}

.main {
	display: flex;
	padding: 3rem 0 3rem 0;
	align-items: center;
	width: 90%;
	margin: auto;
	margin-top: 2rem;
	border-radius: 15px;
	background: linear-gradient(
		45deg,
		rgba(0, 212, 255, 0.2) 0%,
		rgba(124, 58, 237, 0.2) 50%
	);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(12px);
	justify-content: space-between;
	box-shadow: 1px 1px 30px 10px #00000043;
}

.temp {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 5rem;
	width: 50%;
	padding-left: 3rem;
	img {
		height: 10rem;
	}
}

.loc {
	font-size: 1rem;
	color: #d0e7e5;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
.tempval {
	font-size: 2rem;
}

.condition {
	color: rgba(255, 255, 255, 0.829);
	color: #6a8bf5;
	font-size: 1rem;
}

.add-info {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card {
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: linear-gradient(
		90deg,
		rgba(0, 212, 255, 0.05) 0%,
		rgba(124, 58, 237, 0.05) 100%
	);
	box-shadow: 1px 1px 30px 10px #00000043;
	backdrop-filter: blur(10px);
	padding: 2rem 2rem 2rem 2rem;
	gap: 1.5rem;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	.title {
		font-size: 1.1rem;
		line-height: 1.1rem;
		color: #d0e7e5dd;
	}

	.val {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 1rem;
		font-size: 1.2rem;
		svg {
			height: 2rem;
			width: 2rem;
			color: #6a8bf5;
		}
	}
}

.secondary {
	display: flex;
	width: 90%;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	gap: 2rem;
}

.hourly {
	width: 60%;
	border-radius: 15px;
	background: linear-gradient(
		45deg,
		rgba(0, 212, 255, 0.2) 0%,
		rgba(124, 58, 237, 0.2) 85%
	);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 2rem;
	box-shadow: 1px 1px 30px 10px #00000043;
	h2 {
		color: #d0e7e5dd;
		font-size: 1.5rem;
		padding: 1.5rem 0 0 1.5rem;
		line-height: 1.5rem;
	}
}

.hour-cont {
	height: 100%;
	display: flex;
	gap: 2rem;
	overflow-x: auto;
	align-items: center;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.hour-cont::-webkit-scrollbar {
	background-color: rgb(8, 12, 36);
	color: white;
	display: none;
}

.hour-card {
	flex-shrink: 0;
	background: #ffffff1b;
	border-radius: 14px;
	border: 1px solid rgba(255, 255, 255, 0.241);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.75rem 2rem 0 2rem;
	h6 {
		font-size: 1.4rem;
		text-align: center;
		color: #d0e7e5dd;
	}
	img {
		height: 2.2rem;
		margin-top: 1rem;
	}
	.hour-temp {
		font-size: 1.5rem;
		margin-top: 0.5rem;
		font-weight: bold;
	}
	.h-prob {
		font-size: 0.9rem;
		margin-top: 0.75rem;
		color: #d0e7e5dd;
		color: #6a8bf5;
		margin-bottom: 1rem;
	}
}

.hour-card:hover {
	box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.262);
}

.hour-card:first-child {
	background: #ffffff2b;
	border: 1px solid white;
}

.daily {
	width: 40%;
	border-radius: 15px;
	box-shadow: 1px 1px 30px 10px #00000043;
	background: linear-gradient(
		45deg,
		rgba(0, 212, 255, 0.2) 0%,
		rgba(124, 58, 237, 0.2) 25%
	);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-bottom: 1.5rem;
	h2 {
		color: #d0e7e5dd;
		font-size: 1.5rem;
		padding: 1.5rem 0 0 1.5rem;
		line-height: 1.5rem;
	}
}

.daily-cont {
	overflow-y: auto;
	scroll-behavior: smooth;
	height: 10rem;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-bottom: 1rem;
}

.daily-cont::-webkit-scrollbar {
	display: none;
}

.daily-cont ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem 0 1.5rem;
}

.daily-cont ul li {
	width: 100%;
	height: 3.5rem;
	display: flex;
	border-bottom: 1px solid white;
	font-size: 1rem;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	justify-content: space-between;
	img {
		height: 1.75rem;
	}
}

.daily-cont ul li .date {
	font-size: 1rem;
	color: #d0e7e5;
}

.daily-cont ul li .con {
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	color: #6a8bf5;
}

.daily-cont ul li .min-max {
	font-size: 1rem;
}

.daily-cont ul li:last-child {
	border-bottom: none;
}
.daily-cont ul li:first-child {
	background: #ffffff1b;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@media (max-width: 1150px) {
	.search-result li {
		font-size: 0.8rem;
	}
	.search {
		width: 75%;
	}
	header {
		margin-top: 1rem;
	}
	.main {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2.5rem;
		padding: 2rem 0 2rem 0;
		margin-top: 1.5rem;
	}
	.temp {
		flex-direction: row;
		width: 100%;
		margin-top: 0rem;
		gap: 4rem;
		img {
			height: 7rem;
		}
		.tempval {
			font-size: 1.5rem;
		}
	}
	.add-info {
		width: 100%;
		flex-wrap: wrap;
		row-gap: 1rem;
	}
	.card {
		margin: 0 0.2rem 0 0.2rem;
		gap: 1rem;
		padding: 1.6rem;
	}
	.secondary {
		flex-direction: column;
		margin-bottom: 2rem;
		.hourly,
		.daily {
			width: 100%;
		}
	}
}

@media (max-width: 550px) {
	.main {
		gap: 2rem;
	}
	.temp {
		gap: 2rem;
		align-items: center;
		justify-content: start;
		img {
			height: 5rem;
		}
		.tempval {
			font-size: 1.2rem;
		}
		.loc {
			font-size: 0.8rem;
		}
	}
	.card {
		padding: 0.5rem 0.75rem 1rem 0.5rem;
		gap: 0.8rem;
		justify-content: left;
		.title {
			font-size: 0.8rem;
		}
		.val {
			gap: 0.6rem;
			padding: 0;
			font-size: 1rem;
			width: 100%;
			padding-right: 0rem;
			text-align: left;
			svg {
				height: 1rem;
				width: 1rem;
			}
		}
	}
	.secondary {
		margin-top: 1.5rem;
		gap: 1.5rem;
	}
	.hour-cont {
		gap: 1rem;
	}

	.hourly {
		padding-bottom: 1.5rem;
	}

	.hour-card {
		padding: 0.6rem 1.5rem 0 1.5rem;
		h6 {
			font-size: 1rem;
		}
		img {
			height: 1.6rem;
		}
		.hour-temp {
			font-size: 1rem;
		}
	}
	.daily-cont ul {
		padding: 0 1rem 0 1rem;
	}
	.daily-cont ul li {
		padding: 0 0.8rem 0 0.8rem;
		.date,
		.min-max,
		.con {
			font-size: 0.8rem;
		}
		img {
			height: 1.5rem;
		}
	}
}
